<div class="grid-config2" style="height: 862px">
  
  <div class="chart-title" >
    <img src="../../../assets/img/统计图.png" height="25" width="25"/>
    洪涝期辽宁省变电站故障信息
  </div>

  <div>
    <p style="text-align: center; font-size: 34px; color: white; margin-top: 30px">
     {{region}}故障变电站分布
    </p>
  </div>

  <div style="margin-left: 70%;" *ngIf="mapTurnBack">
    <button  nz-button nzType="text" (click)="setLiaoningOption()">
      <span style="font-size: 18px; color: rgb(1,157,169)">返回上一级</span>
    </button>
  </div>

  <div  id="map2" style="bottom: 1%; height:80%;"></div>

</div>
  
