<nz-layout>
  <nz-header style="width:100%;">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li style="float: left; margin-right: 1%">
        <div>
          <img src="../../assets/img/logo.png" alt="logo" height="50" width="50">
          <span style="color: white; ">电力助应急</span>
        </div>
      </li>
      <li nz-menu-item routerLink="/honglao" style="font-size: large;">洪涝期变电站故障信息</li>
      <li nz-menu-item routerLink="/history"style="font-size: large;">基于气象数据的洪涝灾害预警</li>
    </ul>
  </nz-header>
  <nz-content style="background-color:black;width:100%;height:100%">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer style="background-color: #142436;"></nz-footer>
</nz-layout>
