<div class="grid-config2" style="height: 425px">

  <div class="chart-title">
    <img src="../../../assets/img/统计图.png" height="25" width="25"/>
    辽宁省洪涝期各地市变电站故障同比统计
  </div>

  <div echarts [options]="optionT" style="height: 88%; width:100%"></div>

</div>



<div class="grid-config2" style="height: 425px">

  <div class="chart-title">
    <img src="../../../assets/img/统计图.png" height="25" width="25"/>
    辽宁省洪涝期各月份变电站故障同比统计
  </div>

  <div echarts [options]="optionB" style="height: 88%; width:100%"></div>

</div>

